{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var memos_url = "{{=URL('api', 'get_memos')}}"
  var add_memo_url = "{{=URL('api', 'add_memo', user_signature=True)}}"
  var del_memo_url = "{{=URL('api', 'del_memo', user_signature=True)}}"
  var toggle_public_url = "{{=URL('api', 'toggle_public', user_signature=True)}}"
  var edit_memo_url = "{{=URL('api', 'edit_memo', user_signature=True)}}"
</script>
{{end}}

<div class="main_content">
  <h1 class="index_tagline">
    <span style="font-size: 200%;">
        <b>
          <span style="color:#16BAC5">Buy.</span> 
          <span style="color:#6bf745">Sell.</span> 
          <span style="color:#ff5050">Trade.</span>
        </b><br/>
    </span>
    <span style="font-size:130%">Do it all with <b>Campus Exchange!</b>
        <br/>
    </span>
  </h1>

  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-sm-3">
        <a href="{{=URL('default', 'display_posts', args=['Books'])}}" class="card zoom">
          {{=IMG(_src=URL('static', 'images/books.jpg'), _class="card-img-top")}}
          <div class="blur_text">
            <div class="text">Books</div>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="{{=URL('default', 'display_posts', args=['Electronics'])}}" class="card zoom">
          {{=IMG(_src=URL('static', 'images/electronics.jpg'), _class="card-img-top")}}
          <div class="blur_text">
            <div class="text">Electronics</div>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="{{=URL('default', 'display_posts', args=['Clothes'])}}" class="card zoom">
          {{=IMG(_src=URL('static', 'images/clothes.jpg'), _class="card-img-top")}}
          <div class="blur_text">
            <div class="text">Clothes</div>
          </div>
        </a>
      </div>
    </div>

    <br>

    <div class="row justify-content-md-center">
      <div class="col-sm-3">
        <a href="{{=URL('default', 'display_posts', args=['Furniture'])}}" class="card zoom">
          {{=IMG(_src=URL('static', 'images/furniture.jpg'), _class="card-img-top")}}
          <div class="blur_text">
            <div class="text">Furniture</div>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="{{=URL('default', 'display_posts', args=['Tutor'])}}" class="card zoom">
          {{=IMG(_src=URL('static', 'images/tutor.png'), _class="card-img-top")}}
          <div class="blur_text">
            <div class="text">Tutoring</div>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="{{=URL('default', 'display_posts', args=['Haircut'])}}" class="card zoom">
          {{=IMG(_src=URL('static', 'images/haircut.jpg'), _class="card-img-top")}}
          <div class="blur_text">
            <div class="text">Haircuts</div>
          </div>
        </a>
      </div>
    </div>

    <br>

    <div class="row justify-content-md-center">
      <div class="col-9">
        <a href="{{=URL('default', 'display_posts', args=['all'])}}" class="card zoom">
          {{=IMG(_src=URL('static', 'images/all.jpg'), _class="card-img-top")}}
          <div class="blur_text">
            <div class="text">ALL</div>
          </div>
        </a>
      </div>
    </div>

  </div>

  <br>

  <div id="vue-div" class="display:none">
  </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
