{{extend 'layout.html'}}

    <link href="{{=URL('static','css/item_profile.css')}}" rel="stylesheet" type="text/css"/>
	<script src="{{=URL('static', 'js/default_index.js')}}"></script>

<script>
    var save_post_url = "{{=URL('api', 'save_post', user_signature=True)}}";
    var message_save_url = "{{=URL('api', 'message_save', user_signature=True)}}";

</script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <link href="{{=URL('static','css/user_profile.css')}}" rel="stylesheet" type="text/css"/>

<style>
	body { background-image: url("images/all.jpg") }
</style>


<div class="image1">
	<br><br><br>
	<div class="column left_blank" >
	</div>

	<div class="column left">
		<h2>Seller info:</h2>

		<p>
			<span class="view_title">First Name:
			<a href="{{=URL('default', 'seller_profile',args=[item.id])}}" class="btn">
                <i ></i> {{=item.seller}} {{=profile.last_name}}
              </a>
			</span>
			<br><br>
			<span class="view_title"> Phone: </span>
			{{=profile.mobile_phone}}
			  <br><br>
			<span class="view_title"> Email: </span>
			{{=item.email}}
			<br><br>
			<span class="view_title"> Venmo: </span>
			{{=profile.venmo}}
			<br><br>
			<span class="view_title">Date Posted </span>
			{{=item.date_posted.strftime("%m/%d/%Y")}}
			<br><br>
			<span class="view_title"> Is this item available? </span>
			{{=verdict}}
	  	</p>
	</div>

	<div class="column middle wrap">
		<h2>Photo</h2>

		<img src="{{=URL('download', args=item.image)}}" width="150px" class="center">
    <br><br>

    <a href="{{=URL('api', 'save_post', user_signature=True, args=item.id)}}" class="btn">Save Post</a>
	<a class="btn" data-toggle="modal" data-target="#myModal">Message Seller</a>
	</div>



<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
			<h4 class="modal-title">Send a message!</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
			<p>What is the message you would like to send? </p>
			<textarea placeholder="Write your message here." type="text" id="user_message"
					  class="textbox" v-model="message_content"></textarea>
        </div>
        <div class="modal-footer">
          <button href="{{=URL('api', 'message_save', user_signature=True, args=item.id)}}"
				  type="button" class="btn btn-default" onclick="get_message()" data-dismiss="modal">Send</button>




          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>




	<div class="column right wrap">
		<h2>Item Info:</h2>
		<p id="demo"></p>
    	<p>
			<span class="view_title">Item name: </span>
			{{=item.item}}
			<br><br>
			<span class="view_title">Description: </span>
			{{=item.description}}
			<br><br>
			<span class="view_title">Price: </span>
			${{=item.price}}
			<br><br>
			<span class="view_title"> College Location: </span>
			{{=item.college_location}}
			<br>
		</p>
    </div>

	<div class="column right_blank">
	</div>
</div>

	<!-- js for getting content od user message -->
	<script>
	function get_message() {
    var message = document.getElementById("user_message").value;
    document.getElementById("demo").innerHTML = message;
    $.post(message_save_url, {
			message: message,
			list_id: {{=item.id}},
			receive: {{=profile.id}}
        });
	}
	</script>
