{{extend 'layout.html'}}

    <link href="{{=URL('static','css/item_profile.css')}}" rel="stylesheet" type="text/css"/>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <link href="{{=URL('static','css/user_profile.css')}}" rel="stylesheet" type="text/css"/>

<style>
	body { background-image: url("images/all.jpg") }
</style>


<div class="image1">
	<br><br><br>
	<div class="column left_blank" >
	</div>

	<div class="column left">
		<h2>Seller info:</h2>

		<p>
			<span class="view_title">First Name:
			<a href="{{=URL('default', 'seller_profile',args=[item.id])}}" class="btn">
                <i ></i> {{=item.seller}} {{=profile.last_name}}
              </a>
			</span>
			<br><br>
			<span class="view_title"> Phone: </span>
			{{=profile.mobile_phone}}
			  <br><br>
			<span class="view_title"> Email: </span>
			{{=item.email}}
			<br><br>
			<span class="view_title">Date Posted </span>
			{{=item.date_posted.strftime("%m/%d/%Y")}}
			<br><br>
			<span class="view_title"> Is this item available? </span>
			{{=verdict}}
	  	</p>

	</div>

	<div class="column middle wrap">
		<h2>Photo</h2>
    	<img src="/campus/default/download/{{=item.image}}" width="150px" class="hoverZoomLink">

	</div>

	<div class="column right wrap">
		<h2>Item Info:</h2>

    	<p>
			<span class="view_title">Item name: </span>
			{{=item.item}}
			<br><br>
			<span class="view_title">Description: </span>
			{{=item.description}}
			<br><br>
			<span class="view_title">Price: </span>
			${{=item.price}}

			<br><br>
			<span class="view_title"> College Location: </span>
			{{=item.college_location}}
			<br>

		</p>

	</div>

	<div class="column right_blank">
	</div>
</div>
